#blog-information {
  @include my-section();
}

#blog-container {
  @include blog-mixin();
}

#blog-single {
  @include my-section();

  h2 {
    margin-bottom: 6px;
  }

  #date {
    font-size: 1.8rem;
    font-style: italic;
  }

  #blog-content {
    margin-top: 2vh;

    a {
      @include anchor-after();
    }
  }
}
