/**
 * Landing page
 */

#landing-banner {
  @include my-section();
  padding-top: 7vh;
}


#landing-projects {
  @include my-section();

  #landing-projects-projects {
    margin: 4vh 0;
    @include projects-mixin();
  }
}


#landing-blog {
  @include my-section();
  @include blog-mixin();

  .blog-sub {
    padding: 0;
  }
}


#landing-about {
  @include my-section();

  a {
    text-decoration: none;
    cursor: pointer;
    color: #333;

    &:hover {
      background-color: $link-color-full;
    }

    @include anchor-after();
  }
}


#landing-getintouch {
  @include my-section();

  address {
    font-size: 2rem;
  }

  #getintouch-greeting {
    margin-bottom: 4vh;
  }

  form {
    .form-control {
      font-size: 1.8rem;
      padding: 10px 12px;
      box-shadow: none;
      height: 54px;

      &:focus {
        outline: 0;
        box-shadow: none;
        border-color: $second-color;
        border-width: 2px;
      }
    }

    #message {
      height: 150px;
    }

  }

  .btn-primary {
    background-color: $second-color;
    border-color: $second-color;
  }
}
