/**
 * Landing page
 */

#landing-banner {
  background: url("../img/teaser.jpg");
  background-size: cover;
  position: relative;
  width: 100%;
  min-height: 80vh;

  .text-inner {
    background-color: $main-color;
    opacity: 0.9;
    padding-top: 9vh;
    color: $light-grey;
  }
}


#landing-projects {
  position: relative;
  min-height: 60vh;
  padding: 5vh 0;
  text-align: center;

  .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }

  h2:after {
    background: #000;
  }

  &:before {
    position: absolute;
    transform: rotate(-1.9deg);
    content: "";
    z-index: 90;
    display: inline-block;
    height: 70px;
    bottom: 0;
    left: -2px;
    top: -35px;
    margin-bottom: -45px;
    padding: 0;
    width: 102%;
    background-color: #fff;
  }

  &:after {
    position: absolute;
    transform: rotate(-1.9deg);
    content: "";
    z-index: 90;
    display: inline-block;
    height: 70px;
    bottom: 0;
    left: -2px;
    bottom: -70px;
    margin-bottom: 35px;
    padding: 0;
    width: 102%;
  }


  #landing-projects-projects {
    margin-top: 4vh;
    @include projects-mixin();
  }
}


#landing-blog {
  position: relative;
  margin-bottom: 20vh;

  @include blog-mixin();

  #blog {
    text-align: center;
    margin-bottom: 4vh;
  }
}


#landing-about {
  position: relative;
  padding: 10vh 0;
  background-color: $light-grey;

  p {
    text-align: center;
  }

  &:before {
    position: absolute;
    transform: rotate(1.2deg);
    top: -30px;
    content: "";
    display: inline-block;
    height: 70px;
    left: -20px;
    margin-bottom: -20px;
    padding: 0;
    width: 110%;
    background-color: $light-grey;
  }

  &:after {
    position: absolute;
    transform: rotate(1.2deg);
    content: "";
    z-index: 10;
    display: inline-block;
    height: 70px;
    left: -2px;
    bottom: -150px;
    margin-bottom: 100px;
    padding: 0;
    width: 102%;
    background-color: $light-grey;
  }

  a {
    text-decoration: none;
    cursor: pointer;
    color: #333;

    &:hover {
      background-color: $link-color-full;
    }

    @include anchor-after();
  }

}


#landing-getintouch {
  margin: 8vh 0;

  h2:after {
    background: #000;
  }

  address {
    font-size: 1.7em;
  }

  #getintouch-greeting {
    margin-bottom: 4vh;
  }

  #getintouch-contact-info {
    margin-top: 8vh;
  }

  p {
    text-align: center;
  }

  form {
    .form-control {
      font-size: 1.4em;
      padding: 10px 12px;
      box-shadow: none;
      height: 54px;

      &:focus {
        outline: 0;
        box-shadow: none;
        border-color: $second-color;
        border-width: 2px;
      }
    }

    #message {
      height: 150px;
    }

  }

  .btn-primary {
    background-color: $second-color;
    border-color: $second-color;
  }
}
