body {
  font-family: 'Taviraj', serif; }

p {
  font-weight: normal;
  font-size: 1.6rem; }

/*
 * X and Y axis
 */
.axis path, .axis line {
  fill: none;
  stroke: #ddd;
  shape-rendering: cripsEdges; }

.axis text {
  font: 0.8em sans-serif; }

/*
 * Bar for barchart
 */
.bar {
  fill: #C63D0F;
  stroke: #cccccc; }

.label {
  fill: #ddd;
  font-size: 0.8rem; }

/*
 * Tooltip
 */
div.tooltip {
  position: absolute;
  text-align: center;
  width: 150px;
  height: 55px;
  padding: 4px;
  font: 1.2rem sans-serif;
  background: #fff;
  border: 0px;
  pointer-events: none;
  color: #000; }

svg {
  display: block;
  margin: 0 auto; }

#histogram {
  max-width: 100%; }

#cards {
  padding-top: 30px; }

/*
 * Card for every year
 */
.card {
  overflow: hidden;
  text-align: center;
  color: #272727;
  border-radius: 2px;
  margin-bottom: 20px;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }
  .card:hover {
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
  .card .title {
    line-height: 3rem;
    font-size: 1.5rem;
    font-weight: 300; }
  .card .content {
    padding: 1.3rem;
    font-weight: 300;
    border-radius: 0 0 2px 2px; }
  .card p {
    margin: 0; }

#allYearCard {
  overflow: hidden;
  text-align: center;
  color: #272727;
  border-radius: 2px;
  margin-bottom: 20px;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }
  #allYearCard:hover {
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
  #allYearCard .title {
    line-height: 3rem;
    font-size: 1.5rem;
    font-weight: 300; }
  #allYearCard .content {
    padding: 1.3rem;
    font-weight: 300;
    border-radius: 0 0 2px 2px; }
  #allYearCard p {
    margin: 0; }

.currentCard {
  background-color: #3B3738;
  color: #fff; }

#weekSummary {
  height: 30px;
  text-align: center;
  font-size: 2.8rem;
  color: #3B3738;
  font-weight: bold; }

#textCheckbox {
  font-size: 1.5rem;
  font-weight: bold; }
